.NavBar {
    margin: 10px;
    padding: 0px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.test{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.navBarRouting{
    width: 95%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
 /* company and customer navbar */
.userName{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 600px;
    font-weight: bold;
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.compNameStyle{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    letter-spacing: 2px;
    font-size: 12px;
}
.companyNavBar, .customerNavBar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}
.companyCategories, .customerCategories{
    visibility: hidden;
    width: 1100px;
    position: absolute;
    top: 100%;
    left: 2%;
    z-index: 10;
}
.activeCategories, .activeCustomerCategories{
    visibility: visible;
}
.companyMaxPriceBtn, .customerMaxPriceBtn{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}
.compMaxPriceBtn, .custMaxPriceBtn{
    padding: 5px 10px;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: none;
    cursor: pointer;
}
.compMaxPriceBar, .custMaxPriceBar{
    visibility: hidden;
    width: 230px;
    position: absolute;
    top: 100%;
    left: 0%;
    z-index: 10;
}
.compMaxPriceBar>input::placeholder, .custMaxPriceBar>input::placeholder{
    color: #fff;
}
.activemaxbar, .activeCustomermaxbar{
    visibility: visible;
    background-color: #837f7f5e;
    border-radius: 10px;
    padding: 10px;
}
.activemaxbar> label, .activeCustomermaxbar> label{
    font-family:'Poppins', sans-serif;
    color: #fff;
}
.maxPriceFilterBtn{
    background: #fff;
    color: rgba(131, 127, 127, 0.995);
    border: none;
    border-radius: 15px;
    text-decoration: none;
    padding: 2px;
    font-family:'Poppins', sans-serif;
    margin-left: 15px;
}

.companysortBy, .customersortBy{
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.918));
    padding: 9px 14px;
    text-decoration: none;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.compCategoryBtn, .custCategoryBtn{
    cursor: pointer;
    background: none;
}
.compCategoryBtn:hover, .compMaxPriceBtn:hover{
    border:  rgba(131, 127, 127, 0.368);
    background-color: rgba(131, 127, 127, 0.368);
    color: #fff;
}

.GetCouponByID{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.coupIdBtn{
    padding: 5px 10px;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: none;
    cursor: pointer;
}
.coupIdBar{
    visibility: hidden;
    width: 230px;
    position: absolute;
    top: 100%;
    left: 0%;
    z-index: 10;
}
.activeCoupidBar{
    visibility: visible;
    background-color: rgba(131, 127, 127, 0.368);
    border-radius: 10px;
    padding: 10px;
}
.activeCoupidBar> label{
    color: #fff;
}
.activeCoupidBar>input::placeholder{
    color: #fff;
}
.CoupIdFilterBtn{
    background: #fff;
    color: rgba(131, 127, 127, 0.995);
    border: none;
    border-radius: 15px;
    text-decoration: none;
    padding: 2px;
    margin-left: 15px;
}

/* Login-out navBar */
.loginOutNavBar{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navBarLink{
    padding: 5px 10px;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000;
}
.loginBtn:hover, .logoutBtn:hover{
    border:  rgba(131, 127, 127, 0.368);
    background-color: rgba(131, 127, 127, 0.368);
    color: #fff;
}

/* menu open/close css: */
.mainMenuBtn{
    background-color: #fff;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.threelines{
    background-color: #000;
    position: absolute;
    border-radius: 10px;
    width: 40px;
    height: 4px;
}
.threelines::before{
    content: "";
    position: absolute;
    background-color: #000;
    border-radius: 10px;
    width: 40px;
    height: 4px;
    transform: translateY(-10px);
    transition: 1s;
}
.threelines::after{
    content: "";
    position: absolute;
    background-color: #000;
    border-radius: 10px;
    width: 40px;
    height: 4px;
    transform: translateY(10px);
    transition: 1s;
}


/* Responsive */
@media screen and (min-width: 1300px){
    .navBarRouting{
        justify-content: space-between;
    }
    .userName{
        width: 250px;
        font-size: 20px;
        margin: 20px;
    }
    .compNameStyle{
        font-size: 16px;
    }
}

@media screen and (max-width: 1100px){
    .companyNavBar, .customerNavBar {
        gap: 25px;
    }
}

@media screen and (max-width: 820px), (max-height: 800px){
    .loginOutNavBar {
        width: 30%;
    }
    .navBarLink{
        padding: 3px 6px;
        font-size: 12px;
        text-align: center;
    }
    .mainMenuBtn {
        width: 40px;
        height: 30px;
        margin: 0px 5px;
    }
    .threelines, .threelines::before, .threelines::after {
        width: 20px;
        height: 3px;
    }
    .threelines::before{
        transform: translateY(-7px);
    }
    .threelines::after{
        transform: translateY(7px);
    }
    .userName{
        width: 350px;
        font-size: 12px;
        margin: 5px;
        text-align: center;
    }
    .compNameStyle{
        font-size: 12px;
    }
     /* company and customer navbar */
    .coupIdBtn {
        padding: 3px 6px;
        font-size: 13px;
    }
    .companyNavBar, .customerNavBar {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
    }
    .compMaxPriceBtn, .custMaxPriceBtn {
        padding: 3px 6px;
        font-size: 13px;
    }
    .companysortBy, .customersortBy {
        padding: 5px 10px;
        font-size: 13px;
        margin: 5px 0px;
    }
    .companyCategories, .customerCategories {
        width: 700px;
        left: -3%;
    }
}
@media screen and (max-height: 800px){
    /* company and customer navbar */
    .companyCategories, .customerCategories {
        width: 820px;
        left: 10%;
    }
}
@media screen and (max-width: 400px){
    .navBarRouting{
        width: 90%;
    }
    .navBarLink{
        padding: 5px 5px;
        font-size: 10px;
        border-radius: 20%;
        margin: 0px 5px;
        height: 30px;
    }
    .loginBtn{
        height: 30px;
        line-height: 30px;
    }
    .logoutBtn{
        padding: 2px 5px;
        text-align: center;
        line-height: 30px;
    }
    .mainMenuBtn {
        width: 30px;
        height: 25px;
        margin: 0px 2px;
        border-radius: 20%;
    }
    .threelines, .threelines::before, .threelines::after {
        width: 15px;
        height: 2px;
    }
    .threelines::before{
        transform: translateY(-6px);
    }
    .threelines::after{
        transform: translateY(6px);
    }
    .userName{
        width: 350px;
        font-size: 12px;
        margin: 5px;
        overflow: hidden;
        word-wrap: break-word;
        text-align: center;
    }
    .compNameStyle{
        font-size: 12px;
        letter-spacing: 0px;
    }
     /* company and customer navbar */
    .companyNavBar, .customerNavBar {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content:center;
        gap: 5px;
        align-items: center;
    }
    /* company/customer navbar buttons */
    .companysortBy{
        padding: 5px 5px;
        font-size: 10px;
        border-radius: 20%;
    }
    .compCategoryBtn{
        padding: auto;
        margin: 0px;
        height: 35px;
    }
    .customersortBy {
        padding: 5px 2px;
        font-size: 7px;
        border-radius: 20%;
        text-align: center;
    }
    .companysortBy {
        padding: 5px 2px;
        font-size: 8px;
        border-radius: 20%;
        text-align: center;
    }
    .custCategoryBtn{
        height: 35px;
    }
    .compMaxPriceBtn, .custMaxPriceBtn{
        padding: 3px;
        font-size: 10px;
        border-radius: 20%;
        height: 35px;
        display: flex;
        align-items: center;
    }
    .coupIdBtn {
        padding: 0px 3px;
        font-size: 10px;
        border-radius: 20%;
        height: 35px;
    }
    /* max price bar box: */
    .custMaxPriceBar {
        width: 130px;
        left: -200%;
    }
    .custMaxPriceBar input{
        height: 15px;
        width: 50px;
    }
    .compMaxPriceBar {
        width: 130px;
        left: -330%;
    }
    .compMaxPriceBar input{
        height: 15px;
        width: 50px;
    }
    .activemaxbar> label, .activeCustomermaxbar> label {
        font-size: 13px;
    }
    .inputDesign {
        width: 100px;
        height: 15px;
        padding: 5px 10px;
    }
    .maxPriceFilterBtn {
        border-radius: 10px;
        padding: 2px;
        margin-left: 10px;
        font-size: 13px;
    }
    /* coupon id bar box: */
    .coupIdBar {
        width: 130px;
        left: -350%;
    }
    .coupIdBar label{
        font-size: 13px;
    }
    .coupIdBar input{
        height: 15px;
        width: 50px;
    }
    .CoupIdFilterBtn {
        border-radius: 10px;
        padding: 2px;
        margin-left: 10px;
        font-size: 13px;
    }
    /* categories bar box */
    .companyCategories, .customerCategories {
        width: 330px;
        left: -10%;
    }
}
@media screen and (max-height: 450px){
    .userName{
        font-size: 12px;
        margin: 5px;
        text-align: center;
    }
    .compNameStyle{
        font-size: 12px;
        word-wrap: normal;
    }
    .companyCategories, .customerCategories {
        width: 450px;
        left: 15%;
    }
    .custMaxPriceBar {
        width: 180px;
        left: -250%;
    }
    .activemaxbar> label, .activeCustomermaxbar> label {
        font-size: 15px;
    }
    .inputDesign {
        width: 100px;
        height: 15px;
        padding: 5px 10px;
    }
    .maxPriceFilterBtn {
        border-radius: 10px;
        padding: 2px;
        margin-left: 10px;
        font-size: 14px;
    }
}


