.UpdateCustomer {
	width: 400px;
    height: 450px;
    display: inline-block;
    margin-top: 10px;
    padding: 20px 0px 20px 0px;
}
.UpdateCustomer h2{
    text-align: center;
    margin-bottom: 10px;
}
.CustUpdateContainer>form{
    line-height: 10px;
}
.CustUpdateContainer>form label{
    display: inline-block;
    margin: 15px 0px 5px 20px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.CustUpdateContainer>form input{
    margin-left: 20px;
}
.btnDes{
    margin: 40px 0px;
    padding: 5px 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.updateCompError{
    color: red;
    margin-left: 20px;
}