.Header {
	background: linear-gradient(to right top, #6ce4e85d, #6cdcedd3);
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    position: relative;
}
.logo{
    width: 120px;
    height: 100%;
}
.Header h2{
    color: rgba(114, 114, 114, 0.744);
    font-size: 50px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 0px 0px 20%;
}
.headerImage{
    width: 65px;
    margin-left: 10px;
}

/* Responsive */
@media screen and (min-width: 1300px){
    .Header {
        /* justify-content: space-around; */
    }
    .Header h2{
        margin: 0px 0px 0px 30%;
    }
    .headerImage{
        margin-left: 20px;
    }
}

@media screen and (max-width: 820px) {
    .logo{
        width: 100px;
        height: 100%;
    }
    .Header h2{
        font-size: 40px;
        margin: 0px 0px 0px 10%;
    }
    .headerImage{
        width: 55px;
        margin-left: 5%;
    }
}
@media screen and (max-width: 400px) {
    .logo{
        width: 70px;
        height: 100%;
    }
    .Header h2{
        font-size: 30px;
        margin: 0px 0px 0px 10%;
        text-align: center;
    }
    .headerImage{
        width: 45px;
        margin-left: 5%;
    }
}
