.AllCoupons {
	position: relative;
    height: 100vh;
    width: 100%;
    margin: 10px 0px 0px 10px;
    display: inline-block;
    overflow-y: scroll;
}
.couponsDisplay{
    height: 100%;
    display: grid;  
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-template-rows: repeat(auto, 1fr);
    grid-template-rows: auto;
}


/* Responsive */
@media screen and (max-width: 400px) {
    
}