.Login {
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.loginWelcomeTitle{
    font-family: 'Bevan', cursive;
    color: rgba(114, 114, 114, 0.461);
    font-size: 50px;
    margin-bottom: 0px;
}
.loginWelcomeparg{
    font-family: 'Bevan', cursive;
    color: rgba(114, 114, 114, 0.461);
    font-size: 20px;
    margin-top: 0px;
}
.welcomeScreen{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loginScreen{
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family:'Poppins', sans-serif;
    margin: 10px;
}
.loginNote{
    font-size: 13px;
    margin: 5px 5px 5px 10px;
    color: rgba(114, 114, 114, 0.461);
}
.loginScreen> h2{
    align-self: center;
}
.loginScreen>form label, .loginScreen>form input{
    margin-left: 10px;
}
.loginScreen>form button{
    position: relative;
    margin: 20px 0px 10px 0px;
    left: 50%;
    transform: translateX(-50%);
}
.error{
    color: red;
    font-size: 12px;
    margin-left: 10px;
}
.loginInstructions{
    font-family: 'Bevan', cursive;
    color: rgba(114, 114, 114, 0.461);
    font-size: 12px;
    margin-left: 10px;
}
.loginInstructions> span{
    text-decoration: underline;
    font-size: 14px;
}

/* Responsive */
@media screen and (min-width: 1300px){
	.Login {
        justify-content: space-around;
    }
    .loginWelcomeTitle{
        font-size: 50px;
        margin:5px 0px 0px 10px;
    }
    .loginWelcomeparg{
        font-size: 30px;
        margin: 0px 0px 5px 10px;
    }
    .welcomeScreen{
        width: 500px;
        height: 400px;
    }
    .loginScreen{
        width: 350px;
        height: auto;
        text-align: center;
    }
    .loginScreen>h2{
        font-size: 30px;
    }
    .loginScreen>form label{
        font-size: 20px;
    }
    .emailInput, .passInput, .loginInput{
        width: 170px;
        height: 30px;
        border-radius: 15px;
        font-size: 14px;
    }
    .loginScreen>form button{
        padding: 5px 15px;
        display: block;
        font-size: 16px;
    }
    .loginInstructions{
        text-align: left;
        font-size: 15px;
        overflow-wrap: break-word;
        margin: auto 10px;
    }
    .loginInstructions> span{
        font-size: 18px;
    }
}

@media screen and (max-width: 915px) and (min-height: 1000px){
    .Login{
        padding: 10px;
    }
}

@media screen and (max-width: 450px) {
    .loginWelcomeTitle{
        font-size: 25px;
        margin:5px 0px 0px 10px;
    }
    .loginWelcomeparg{
        font-size: 15px;
        margin: 0px 0px 5px 10px;
    }
    .welcomeScreen{
        width: 200px;
        height: 400px;
    }
    .loginScreen{
        width: 150px;
        height: auto;
        margin: 5px;
        padding: 5px;
        text-align: center;
    }
    .loginScreen>form label, .loginScreen>form input, .loginScreen>form select{
        margin-left: 5px;
    }
    .loginScreen>form label{
        font-size: 13px;
    }
    .emailInput, .passInput, .loginInput{
        width: 100px;
        font-size: 10px;
    }
    .loginScreen>form button{
        padding: 3px 10px;
        display: block;
        font-size: 12px;
    }
    .loginForm{
        text-align: center;
    }
    .loginInstructions{
        text-align: left;
        font-size: 10px;
        overflow-wrap: break-word;
        margin: auto 5px;
    }
    .loginInstructions> span{
        font-size: 11px;
    }
    .error{
        font-size: 8px;
    }
}