.MyCoupons {
    height: auto; 
	margin: 10px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}
.myCoupCardImgBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myCoupCardImgBox>img{
    width: 200px;
    border-radius: 15px;
}
.myCoupCardCategory{
    text-align: left;
    font-size: 12px;
}
.myCoupCardTitle{
    text-align: center;
    margin: 5px 0px;
    font-size: 20px;
    background: #8d8d9221;
    border-radius: 15px;
}
.myCoupCardDesc{
    box-sizing: border-box;
    text-align: left;
    padding: 5px;
    margin-bottom: 0px;
    font-size: 15px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.5));
    border-radius: 10px;
    min-height: 60px;
    max-width: 200px;
    overflow-y: scroll;
}
.myCoupCardPrice{
    font-size: 10px;
    display: inline;
    margin-bottom: 5px;
}
.myCoupCardPriceNum{
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.myCoupCardPriceSDate{
    margin-bottom: 0px;
    border-radius: 10px 10px 0px 0px;
}
.myCoupCardPriceEDate{
    margin-top: 0px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 2px;
}
.myCoupDate{
    font-size: 15px;
    background-color: #8d8d9221;
    padding: 0px 5px;
}
.daysToExp{
    color: red;
    font-weight: bold;
    font-size: 20px;
}
