.CompanyCouponCard {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: 'Poppins', sans-serif;
}
.compCoupCardImgBox{
    width: 100%;
    text-align: center;
}
.compCoupCardImgBox>img{
    width: 200px;
    height: 200px;
    border-radius: 15px;
}
.compCoupCardIdCat{
    display: flex;
    justify-content: space-between;
}
.compCoupCardID{
    background-color: #fff;
    font-size: 11px;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
    align-self: flex-start;
}
.compCoupCardCat{
    background-color: #fff;
    font-size: 11px;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
}
.compCoupCardSettings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}
.compCoupCardTitle{
    align-self: center;
    font-size: 20px;
    text-align: center;
}
.compCardBtn{
    width: 20px;
}
.compCoupCardDescHead{
    font-size: 10px;
    margin-left: 5px;
}
.compCoupCardDesc{
    background-color: #8d8d9221;
    border-radius: 15px;
    padding: 5px;
    margin-top: 0px;
    font-size: 15px;
    overflow-y: scroll;
}
.compCoupCardDetails{
    align-self: center;
    text-decoration: none;
    font-size: 15px;
    color: #000;
}
.compCoupCardDetails:hover{
    background-color: #8d8d9221;
    border-radius: 15px;
    padding: 0px 5px 0px 5px;
    color: #fff;
}
.compCoupCardAmoPri{
    background-color: #fff;
    border-radius: 13px;
    padding: 0px 5px;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
}
.compCoupCardDates{
    background-color: #8d8d9221;
    border-radius: 15px;
    margin-top: 5px;
    padding-left: 10px;
    text-align: left;
}


/* ScrollBar style */
/* width */
    ::-webkit-scrollbar {
        width: 7px;
    }

  /* Track */
    ::-webkit-scrollbar-track {
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.2));
        
    }

    ::-webkit-scrollbar-button:single-button {
        background-color: #eee;
        display: block;
        background-size: 10px;
        background-repeat: no-repeat;
    }
    ::-webkit-scrollbar-button:single-button:vertical:decrement {
        height: 12px;
        width: 16px;
        background: none;
        background-position: center 1px;
        background-size: cover;
        background-image: url("../../../../../public/couponImages/up-arrow.png");
        

    }
    ::-webkit-scrollbar-button:single-button:vertical:increment {
        height: 12px;
        width: 16px;
        background: none;
        background-position: center 1px;
        background-size: cover;
        background-image: url("../../../../../public/couponImages/arrow-down.png");
    }


  /* Handle */
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.5));
        box-shadow: inset 0 0 1px 1px #5C6670;
    }

  /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.2));
    }


    /* Responsive */
@media screen and (max-width: 400px) {
    .CompanyCouponCard {
        margin: 10px auto;
        width: 250px;
    }
}
@media screen and (max-height: 800px) {
    .CompanyCouponCard {
        height: 500px;
    }
}
@media screen and (max-height: 400px) {
    .CompanyCouponCard {
        margin: 10px auto;
        width: 250px;
    }
}