.CustomerCoupsByCategory {
	position: relative;
    height: 100%;
    width: 100%;
    margin-top: 10px;
    display: inline-block;
    overflow-y: scroll;
}
.customerCoupsByCatDisplay{
    height: 100%;
    display: grid;  
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-template-columns: 275px 275px 275px 275px;
    grid-template-rows: auto;
}
